html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1{
  margin: 0 0 0 .5rem;
  font-size: 1.1rem;
  padding: 0;
  top: -0.55rem;
  position: relative;
  display: inline-block;
  color: #395088;
  font-weight: 800;
  font-family: 'Space Grotesk', sans-serif;
  /* letter-spacing: -1px; */
}

body > header h1::before {
  content: "|";
  margin-right: .5rem;
}
#menu{
  font-family: 'Space Grotesk', sans-serif;
  list-style: none;
  margin: 0;
  top: 1.2rem;
  position: absolute;
  right: 1rem;
  font-size: .9rem;
  color: #395088;
}
#menu,
#menu li{
  display: inline-block;
}
#menu li{
  margin: 0 1rem;
  cursor: pointer;
}
#menu i{
  margin-right: .5rem;
}
#menu input{
  width: 400px;
  line-height: 1.7rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 0 1rem
}

body > header {
  padding: 1rem;
  background-color: #ffdfad;
}

#map-container {
  width: 100%;
  height: calc(100% - 69px);
  position: relative;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  border-top: 5px solid #395088;
}

#map-container button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  font-size: inherit;
  cursor: pointer;
}

#map {
  position: absolute;
  left: 22em;
  top: 0;
  right: 0;
  bottom: 0;
}

#locations-panel {
  position: absolute;
  left: 0;
  width: 22em;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background: white;
  padding: 0.5em;
  box-sizing: border-box;
}

@media screen and (min-max: 480px) {
  #topbar h1,
  #topbar ul {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  #topbar ul {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  #topbar h1 {
    display: none;
  }
}

@media only screen and (max-width: 876px) {
  #map {
    left: 0;
    bottom: 50%;
  }
  
  #locations-panel {
    top: 50%;
    right: 0;
    width: unset;
  }
}

/*
  OSM styles
*/
.leaflet-control-geocoder-form input{
  width: 85%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  padding: 0.5em 2.5em 0.5em 0.5em;
  font-size: 1em;
  background-color: white;
  background-repeat: no-repeat;
  background-image: url(https://unpkg.com/esri-leaflet-geocoder@3.1.3/dist/img/search.png);
  background-position: right center;
  background-size: 26px;
}
.leaflet-control-geocoder-form input[type="submit"]{
  display: none;
}
/*
  End OSM styles
*/

#locations-panel-list > header {
  padding: 1.4em 1.4em 0 1.4em;
}

#locations-panel-list h1.search-title {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}

#locations-panel-list h1.search-title > img {
  vertical-align: bottom;
  margin-top: -1em;
}

#locations-panel-list .search-input {
  width: 100%;
  margin-top: 0.8em;
  position: relative;
}

#locations-panel-list .search-input input,
.leaflet-bar{
  border-radius: 0.3em;
  padding: .5em 2.5em 0.5em .5em;
  
  font-size: 1em;
}
.leaflet-bar.geocoder-control-input,
.geocoder-control-suggestions{
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.leaflet-touch .leaflet-bar{
  border:none
}
.leaflet-control.geocoder-control{
  float: none;
  width: 100%;
  margin-top: 1em;
}
.geocoder-control-suggestions{
  padding: 0;
  
}
.leaflet-container{
  font-size: 1rem;
}
.leaflet-container > div{
  font-size: 0.75rem;
}

#locations-panel-list .search-input input{
  width: 100%;
  
  height: 2.2em;
  box-sizing: border-box;
}

.leaflet-bar{
  box-shadow: none;
}

#locations-panel-list .search-input-overlay {
  position: absolute;
}

#locations-panel-list .search-input-overlay.search {
  right: 2px;
  top: 2px;
  bottom: 2px;
  width: 2.4em;
}

#locations-panel-list .search-input-overlay.search button {
  width: 100%;
  height: 100%;
  border-radius: 0.2em;
  color: black;
  background: transparent;
}

#locations-panel-list .search-input-overlay.search .icon {
  margin-top: 0.05em;
  vertical-align: top;
}

#locations-panel-list .section-name {
  font-weight: 500;
  font-size: 0.9em;
  margin: 1.8em 0 1em 1.5em;
}

#locations-panel-list .location-result {
  position: relative;
  padding: 0.8em 3.5em 0.8em 1.4em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

#locations-panel-list .location-result:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

#locations-panel-list .location-result:last-of-type {
  border-bottom: none;
}

#locations-panel-list .location-result.selected {
  outline: 2px solid #4285f4;
}

#locations-panel-list button.select-location {
  margin-bottom: 0.6em;
  text-align: left;
}

#locations-panel-list .location-result h2.name {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}

#locations-panel-list .location-result .address {
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

#locations-panel-list .location-result .distance {
  position: absolute;
  top: 0.9em;
  right: 0;
  text-align: center;
  font-size: 0.9em;
  width: 5em;
}

#location-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}